.tab::after {
    content: none;
}
.peer:checked~.collapse-content {
    height: 40rem;
}
.collapse-content {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 40rem;
}
.peer-checked .collapse-content {
    max-height: 0;
}
  