#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;

}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  /*background-color: #1D428A; */
}

/* html {
  box-sizing: border-box;
  border: 8px solid #C8102E; 
  height: 100%;
} */

.clippers-container {
  font-family: Arial, sans-serif;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  text-align: center;
  margin: 0; 
  top:15%;
  left: 30%;
}

.clippers-title {
  color: #000000; 
  margin: 0;
}

.clippers-image {
  max-width: 200px; 
  width: 50%;
  height: auto; 
  margin-bottom: 20px; 
}

.clippers-button {
  background-color: #c8102e; 
  color: white;
  padding: 65px 80px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 40px;

}

.clippers-button:hover {
  background-color: #00285e; /* Dark blue color for hover effect */
}

.clippers-selected {
  color: #c8102e; /* Red color for selected state */
  font-weight: bold;
  margin-top: 20px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

.fade-out {
  animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

