body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  background-color: #1D428A; 
}

html {
  box-sizing: border-box;
  border: 8px solid #C8102E; 
  height: 100%;
}


body {
  padding: 20px; 
}


.clippers-container {
  font-family: Arial, sans-serif;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  text-align: center;
  margin: 0; 
  position: absolute;
  top:15%;
  left: 30%;
}

.clippers-title {
  color: #000000; 
  margin: 0;
}

.clippers-image {
  max-width: 200px; 
  width: 50%;
  height: auto; 
  margin-bottom: 20px; 
}

.clippers-button {
  background-color: #c8102e; 
  color: white;
  padding: 65px 80px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 40px;

}

.clippers-button:hover {
  background-color: #00285e; /* Dark blue color for hover effect */
}

.clippers-selected {
  color: #c8102e; /* Red color for selected state */
  font-weight: bold;
  margin-top: 20px;
}